<div class="section-{{ section.id }}">
  <div class="container">

  </div>
</div>

{% schema %}
{
  "name": "About Section 2",
  "settings": [
    {
      "type": "richtext",
      "id": "about_description"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}