<style>
  .cp-snippet-heading{
    text-transform:uppercase;
    font-weight:bold;
  }
  .cp-snippet-header{
    color:#d5a518
  }
.cp-snippet-jobList a, .cp-snippet-message a {
    color:#d5a518
  }
</style>


<p> </p>
<div class="indeedjobs-widget" data-id="982aefc823fcfa14e680" data-theme="light" data-height="360" style="max-width:70%; margin:0 auto"></div>
<script>// <![CDATA[
  (function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js');
  // ]]></script>


{% schema %}
    {
      "name": "Section name",
      "settings": []
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
