.yellow-line { max-width: 90px; height: 5px; background-color: #febe20; border: none; margin: 0; }

.flex {display: flex;}
.flex-no-wrap { flex-wrap: nowrap; }
.flex-wrap	{ flex-wrap: wrap; }
.relative {position: relative;}
.justify-between { justify-content: space-between; }
.justify-end	{ justify-content: flex-end; }
.items-center { align-items: center; }
.text-center { text-align: center; }
.text-left	{ text-align: left; }
.hidden { display: none; }
.block {display: block; }
.inline-block { display: inline-block; }
.align-middle { vertical-align: middle; }
.bold {font-weight: bold;}
.font-black	{ font-weight: 900; }
.font-normal { font-weight: 400; }
.m-0 {margin: 0;}
.mt-50 { margin-top: 50px; }
.mb-50 { margin-bottom: 50px; }
.mb-20 { margin-bottom: 20px; }
.my-50 { margin-top: 50px; margin-bottom: 50px; }
.mx-auto { margin-left: auto; margin-right: auto; }
.py-0 {padding-top: 0;padding-bottom: 0;}
.px-0 {padding-left: 0;padding-right: 0;}
.px-30 {padding-left: 15px;padding-right: 15px;}
.px-100 {padding-left: 100px;padding-right: 100px;}
.py-50 {padding-top: 50px;padding-bottom: 50px;}
.py-40 {padding-top: 40px;padding-bottom: 40px;}


.text-xs {font-size: 12px;}
.text-sm {font-size: 14px;}
.text-base {font-size: 16px;}
.text-lg {font-size: 18px;}
.text-xl {font-size: 20px;}
.leading-none	{ line-height: 1; }
.leading-normal	{ line-height: 1.5; }
.leading-loose	{ line-height: 2; }
.tracking-normal { letter-spacing: 0; }
.uppercase { text-transform: uppercase; }
.text-black	{ color: #000000; }
.no-underline	{ text-decoration: none; }
.list-reset	{ list-style: none; padding: 0; }
.w-full { width: 100%; }
.w-1-4 { width: 25%; }
.w-1-2 { width: 50%; }
.w-1-3 { width: 32.33333% }
.w-2-3 { width: 66.66667%; }

.text-black-lm	{ color: #2b323a; }
.text-grey-lm	{ color: #777777; }


@media screen and (max-width: 640px) {
  .block-sp { display: block; }
  .w-full-sp { width: 100%; }
  .text-base-sp {font-size: 16px;}
  .px-0-sp {padding-left: 0;padding-right: 0;}
  .hidden-sp { display: none; }
  .text-sm-sp {font-size: 14px;}
}

@media screen and (max-width: 999px) {
  .show-pc { display: none; }
}


@media screen and (min-width: 1000px) {
  .show-sp { display: none; }
}

