<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


{{ 'sell-equipments.css' | asset_url | stylesheet_tag }}



{% section 'slideshow-sell-equipment' %}


<section class="sec-max-profit">
	<h2 class="section-title heading h3">MAXIMIZE PROFIT. MINIMIZE RISK.</h2>
  	<div class="container max-profit-wrapper">
      <div class="max-profit-item">
      	<img src="{{ 'sell-equip-people-icon-2-yellow.png' | asset_img_url }}" class="max-profit-item_icon">
        <p class="max-profit-item_heading h3">2M+<br>VISITS</p>
        <p class="max-profit-item_heading-sub">to our website</p>
      </div>
      <div class="max-profit-item">
      	<img src="{{ 'sell-equip-calendar-yellow.png' | asset_img_url }}" class="max-profit-item_icon">
        <p class="max-profit-item_heading h3">45<br>DAY</p>
        <p class="max-profit-item_heading-sub">average sale time*</p>
      </div>
      <div class="max-profit-item">
      	<img src="{{ 'sell-equip-high-five-yellow.png' | asset_img_url }}" class="max-profit-item_icon">
        <p class="max-profit-item_heading h3">NO<br>HASSLE</p>
        <p class="max-profit-item_heading-sub">let us handle the details</p>
      </div>
    </div>
</section>

<section class="sec-sell-options">
	<h2 class="section-title heading h3">Which option is right for you?</h2>
	<div class="container sell-options-wrapper">
      <div class="sell-options-item quick-cash sell-to-lenmark">
        <p class="sell-options-heading heading">QUICK CASH</p>
        <div class="sell-options-details">
          <p class="sell-options-details_heading">Sell to Lenmark</p>
          <p class="sell-options-details_heading-sub">WE BUY YOUR EQUIPMENT<br>AS-IS FOR QUICK CASH</p>
          <ul class="sell-options-list">
            <li class="sell-options-list_items">
              <p class="p1"><span>Get money fast</span></p>
              <p class="p2">Get an instant offer for your equipment and turn surplus assets into cash</p>
            </li>
			<li class="sell-options-list_items">
              <p class="p1">Free up floor space</p>
              <p class="p2">Stop storing equipment you don’t use</p>
            </li>
            <li class="sell-options-list_items">
              <p class="p1">Fastest turnaround time</p>
              <p class="p2">Don’t wait until the next auction – we pay you for your assets within 2 business days</p>
            </li>
          </ul>
    	  <div class="text-center">
          	<button class="sell-options-link product-form__add-button button button--primary" data-action="open-modal" aria-controls="sell-forms-modal" onclick="$('.modal__form-slide').slick('slickGoTo', 1);">Sell to Lenmark</button>
          </div>
        </div>
      </div>
      <div class="sell-options-item quick-cash list-with-lenmark">
        <p class="sell-options-heading heading yellow-bg">MAXIMUM VALUE</p>
        <div class="sell-options-details">
          <p class="sell-options-details_heading">List with Lenmark</p>
          <p class="sell-options-details_heading-sub">WE LIST YOUR EQUIPMENT<br>AND MANAGE THE SALE PROCESS</p>
          <ul class="sell-options-list">
            <li class="sell-options-list_items">
              <p class="p1">Get the <span>highest value</span> for your assets</p>
              <p class="p2">We appraise and market your equipment making sure you get the most money for your asset</p>
            </li>
			<li class="sell-options-list_items">
              <p class="p1">Free up your time – let us handle it</p>
              <p class="p2">Dedicate your time doing what’s most important to you. We will take care of liquidating your equipment</p>
            </li>
            <li class="sell-options-list_items">
              <p class="p1">You are in control</p>
              <p class="p2">You have full control over the process and price of your assets</p>
            </li>
            <li class="sell-options-list_items">
              <p class="p1">We handle the sale and logistics</p>
              <p class="p2">We find the buyer for your equipment, finalize the sale, and handle the logistics for you</p>
            </li>
          </ul>
          <div class="text-center">
          	<button class="sell-options-link product-form__add-button button button--primary" data-action="open-modal" aria-controls="sell-forms-modal" onclick="$('.modal__form-slide').slick('slickGoTo', 0);">List with Lenmark</button>
          </div>
        </div>
      </div>
  	</div>
<!--   	<div id="why-lenmark" class="sell-options-not-sure">
      <p>Not sure which option is right for you? <button onclick="scrollToId('why-lenmark')" class="not-sure-link">Take Our Survey to Find Out!</button></p>
  	</div> -->
</section>

<section class="sec-video">
  	<div class="container">
        <div class="video-container"><iframe src="https://www.youtube.com/embed/bcNmbl4MgBQ?rel=0" frameborder="0"></iframe></div>
  	</div>
</section>

<section id="why-lenmark"  class="sec-why-lenmark">
  <div class="why-lenmark-wrapper">
    <div class="col-left">
      <h2 class="section-title heading h3 text-center">WHY LENMARK?</h2>
      <p class="why-lenmark-par hidden">
        Lenmark offers a solution to selling both mainstream and unique assets by providing a multi-faceted online platform. We either purchase or consign your equipment and handle all parts of the sales process. Our model is different from others because we are full service – from answering the phone for you to transportation and warehousing. When you list with us, our subject matter experts post your equipment on over 10 different marketing channels which provide maximum exposure to your assets. <br>
  We built our business on being able to consign and purchase equipment in ways that are tailored to your needs and work to sell your equipment with no hassle to you. Higher value to you means good business for us, and we have the platform and experience that is ready to disrupt the industry.
      </p>
      <ul class="flip-list container">
        <li class="flip-list-item">
          <div class="front">Sell Any<br />Equipment</div>
          <div class="back">Lenmark offers a solution to selling both mainstream and unique assets by providing a multi-faceted online platform.</div>
        </li>
        <li class="flip-list-item">
          <div class="front">We Handle<br />It All</div>
          <div class="back">We either purchase or consign your equipment and handle all parts if the sales process. Our model is deifferent from others because we are full of service - from asnwering the phone for you to transportation and warehousing.</div>
        </li>
        <li class="flip-list-item">
          <div class="front">10 Marketing<br />Channels</div>
          <div class="back">When you list with us, our subject matter experts post your equipment on over 10 different marketing channels which provides maximum exposure to your assets.</div>
        </li>
        <li class="flip-list-item">
          <div class="front">Consign<br />or Sell</div>
          <div class="back">We built our business on being able to consign and purchase equipment in ways that are tailored to your needs and work to sell your equipment with no hassle to you.</div>
        </li>
        <li class="flip-list-item">
          <div class="front">Higher Value<br />For You</div>
          <div class="back">Higher value to you means good business for us, and we have the platform and experience that is ready to disrupt the industry.</div>
        </li>
      </ul>

<!--       <button class="why-lenmark-btn-link sell-btn" data-action="open-modal" aria-controls="modal-sell-with-lenmark">LIST WITH LENMARK</button> -->
    </div>
    <div class="col-right">
      <div class="flex flex-wrap justify-between items-center container">
        <div class="mb-50">
          <div class="description-wrapper">
            <p class="p1">Our team of appraisal specialist know your worth</p>
            <h2 class="bold">WE ARE YOUR MOST <span>TRUSTED</br>PARTNER</span> FOR GETTING VALUE</h2>
            <p class="p2">Getting the right value for your equipment shouldn't be left to an auctioneer saying</br>
        	sold or a stranger asking for an additional 30% off when they come pick it up.</p>
<!--             <button class="sell-options-link product-form__add-button button button--tertiary btn-sell" data-action="open-modal" aria-controls="sell-forms-modal" onclick="$('.modal__form-slide').slick('slickGoTo', 1);">CALL US</button> -->
      		<a href="tel:6044491880" class="sell-options-link product-form__add-button button button--tertiary btn-sell">CALL US</a>
          </div>
        </div>
      	{% section 'sell-equipment-why-lenmark-form' %}
      </div>
    </div>
  </div>
  <div class="container why-lenmark-wrapper hidden">
    <ul class="flip-list">
      <li class="flip-list-item">
        <div class="front">Sell Any<br />Equipment</div>
        <div class="back">Lenmark offers a solution to selling both mainstream and unique assets by providing a multi-faceted online platform.</div>
      </li>
      <li class="flip-list-item">
        <div class="front">We Handle<br />It All</div>
        <div class="back">We either purchase or consign your equipment and handle all parts if the sales process. Our model is deifferent from others because we are full of service - from asnwering the phone for you to transportation and warehousing.</div>
      </li>
      <li class="flip-list-item">
        <div class="front">10 Marketing<br />Channels</div>
        <div class="back">When you list with us, our subject matter experts post your equipment on over 10 different marketing channels which provides maximum exposure to your assets.</div>
      </li>
      <li class="flip-list-item">
        <div class="front">Consign<br />or Sell</div>
        <div class="back">We built our business on being able to consign and purchase equipment in ways that are tailored to your needs and work to sell your equipment with no hassle to you.</div>
      </li>
      <li class="flip-list-item">
        <div class="front">Higher Value<br />For You</div>
        <div class="back">Higher value to you means good business for us, and we have the platform and experience that is ready to disrupt the industry.</div>
      </li>
    </ul>
  </div>
</section>



{%comment%}
{% section 'sell-equipment-partners-logo' %}
{%endcomment%}

{% section 'sell-equipment-process-terms' %}

{% section 'sell-equipment-advantage' %}


{% section 'sell-equipment-popup-form' %}



{% comment %}
{% section 'slideshow-sell-equipment' %}
{% section 'team-sell-equipment' %}
{% section 'image-with-text-appraisal' %}
{% section 'image-with-text-merchandising' %}
{% section 'image-with-text-marketing' %}
{% section 'image-with-text-support' %}
{% section 'image-with-text-negotiation' %}
{% section 'static-consultation-form' %}
{% endcomment %}



<script>
  
  
  function scrollToId(id) {
    var element = document.getElementById(id);
    var headerOffset = document.getElementById('shopify-section-header').offsetHeight;
    var elementPosition = element.offsetTop;
    var offsetPosition = elementPosition - headerOffset;
    //document.documentElement.scrollTop = offsetPosition;
    window.scrollTo({top: offsetPosition, behavior: 'smooth'});
    document.body.scrollTop = offsetPosition; // For Safari
  }

  
  document.querySelectorAll('#sell-forms-modal .modal__header button.modal__title').forEach(function(el){
    el.onclick = function(){
        document.querySelector('#sell-forms-modal').dataset.form = el.dataset.form
        
    }
  })
  
  
  

</script>